.ngx-material-timepicker-example {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.ngx-material-timepicker-example__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e6e6e6;
    padding: 15px 20px;
}
.ngx-material-timepicker-example__title {
    font-weight: 400;
    margin: 0;
    font-size: 18px;
    color: #808080;
}
.ngx-material-timepicker-example__btn {
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    position: relative;
    user-select: none;
}
.ngx-material-timepicker-example__btn:focus {
    background-color: rgba(0, 0, 0, .07);
}
.ngx-material-timepicker-example__btn:hover .tooltip {
    display: inline-block;
}
.ngx-material-timepicker-example__btn .tooltip {
    display: none;
    position: absolute;
    top: 40px;
    left: -30px;
    padding: 5px;
    color: #fff;
    font-size: 12px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 2px;
    white-space: nowrap;
}
.source-code {
    background-color: #f0f0f0;
    overflow: hidden;
}
.source-code pre {
    margin: 0;
}
