<form [formGroup]="form">
    <input type="text" formControlName="lessoncode" />
    <input type="text" formControlName="countrycode" />
    <input type="text" formControlName="languagecode" />
  
    <div formArrayName="tasks">
      <div *ngFor="let task of tasks;let taskIndex=index;">
        <h1>Tasks</h1>
        <div [formGroupName]="taskIndex">
          <input formControlName="taskid" />
          <input formControlName="taskname" />
          <div formArrayName="groups">
            <div *ngFor="let group of getGroupsFor(taskIndex);let groupIndex=index;">
              <h2>Group</h2>
              <div [formGroupName]="groupIndex">
                <input formControlName="id" />
                <input formControlName="name" />
                <div formArrayName="attributes">
                  <div *ngFor="let attribute of getAttributesFor(taskIndex, groupIndex);let attributeIndex=index;">
                    <h3>Attribute</h3>
                    <div [formGroupName]="attributeIndex">
                      <input formControlName="name" />
                      <input formControlName="contentid" />
                      <input formControlName="value" />
                      <input formControlName="translationvalue" />
                      <input formControlName="placeholder" />
                      <input formControlName="label" />
                      <input formControlName="defaultvalue" />
                      <input formControlName="type" />
                      <input formControlName="element" />
                      <input formControlName="altered" />
                      <input formControlName="translation_id" />
                      <input formControlName="isnew" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div formArrayName="dictionary">
            <div *ngFor="let dict of getDictionaryFor(taskIndex); let dictIndex=index;">
              <h2>Dictionary</h2>
              <div [formGroupName]="dictIndex">
                <input formControlName="content_id" />
                <input formControlName="term" />
                <input formControlName="translation_id" />
                <input formControlName="value" />
                <input formControlName="task_id" />
                <input formControlName="task_dictionary_id" />
                <input formControlName="isnew" />
                <input formControlName="altered" />
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </form>