<div class="jumbotron">
    <h3>app-reactive-form-example</h3>
    <app-reactive-form-example></app-reactive-form-example>
</div>
<div class="jumbotron">
    <h3>image default directive</h3>
    <img [src]="imageUrl | default:'http://s3.amazonaws.com/uifaces/faces/twitter/sillyleo/128.jpg'"/>
</div>
<div class="jumbotron">
    <h3>Reactive Forms Validations</h3>
<app-reactive-form-validatons></app-reactive-form-validatons>
</div>
<div class="jumbotron">
    Subject examples..
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <div *ngFor="let message of messages" class="alert alert-success">{{message.text}}</div>
                <app-subject-examples></app-subject-examples>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron">
   Paginations...
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
          <app-paginations-exampless></app-paginations-exampless>         
            </div>
        </div>
    </div>
</div>
<div class="jumbotron">
    Basic Authentications...
     <div class="container text-center">
         <div class="row">
             <div class="col-sm-8 offset-sm-2">
                <app-http-authentication></app-http-authentication>       
             </div>
         </div>
     </div>
 </div>
 <div class="jumbotron">
    Jwt authentications...
     <div class="container text-center">
         <div class="row">
             <div class="col-sm-8 offset-sm-2">
                <app-jwt-authentication></app-jwt-authentication>        
             </div>
         </div>
     </div>
 </div>
 <div class="jumbotron">
    Role Based Authentications...
     <div class="container text-center">
         <div class="row">
             <div class="col-sm-8 offset-sm-2">
                <app-role-based-authentication></app-role-based-authentication>        
             </div>
         </div>
     </div>
 </div>
 <div class="jumbotron">
    making-div-scrollable-which-have-many-div-as-column-wise-inside-it
    <app-div-scrolling></app-div-scrolling>      

 </div>
