<div class="container1">
    <h4>without arrows keys</h4>
    <button (click)="log($event)">focus me</button>
    <button (click)="log($event)">focus me 2</button>
    <button (click)="log($event)">focus me 3</button>
    <button (click)="log($event)">focus me 3</button>
    <button (click)="log($event)">focus me 4</button>
    <button (click)="log($event)">focus me 5</button>
    <button (click)="log($event)">focus me 6</button>
  </div>
  
  
  <div appArrowKeyScroll class="container1">
    <h4>without arrows keys</h4>
    <button (click)="log($event)">focus me</button>
    <button (click)="log($event)">focus me 2</button>
    <button (click)="log($event)">focus me 3</button>
    <button (click)="log($event)">focus me 3</button>
    <button (click)="log($event)">focus me 4</button>
    <button (click)="log($event)">focus me 5</button>
    <button (click)="log($event)">focus me 6</button>
  </div>
  