<div class="row">
    <div class="col-md-6">
        {{label}}
        {{value}}
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <p>{{year}}</p>
                <p>
                    {{days[day] |slice:0:3}},
                    {{date1}}
                    {{months[month]}}</p>
                <!-- Time: {{time}} -->
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th *ngFor="let day of days">
                                {{day | slice:0:3}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of [0,1,2,3,4]">
                                <td *ngFor="let num of [0,1,2,3,4,5,6]">{{getDate(row,num)}}</td>
                            </tr>
                    </tbody>
                </table>
                {{Last7Days()}}
                <!-- {{Last7DaysByOtherMethod()}} -->
            </div>
        </div>
    </div>
</div>
<input [(ngModel)]="pick">
<button (click)="onPick()">Pick</button>