<ng-container *ngIf="comments">
  <div *ngFor="let comment of comments">
    <ul class="list-group">
     <li class="list-group-item">
       {{comment.text}}
       <app-recursive [comments]="comment.comments" *ngIf="comment.comments"></app-recursive>
     </li>
    </ul>
  </div>
</ng-container>
<ng-container *ngIf="items">
  <div *ngFor="let item of items" class="card">
    <div class="card-header" [ngStyle]="{'background': '#0c81c5'}">
        {{item?.name}}
      </div>
     <div class="card-body">
       <app-recursive [items]="item.items" *ngIf="item.items"></app-recursive>
     </div>
  </div>
</ng-container>
