<div class="card">
    <div class="card-header text-white bg-info">Display a loader on every HTTP request using Interceptor</div>
    <div class="card-body">
     <app-shared-loader></app-shared-loader>
    <button (click)="callApi()">Click</button>
    </div>
</div>
<div class="card">
    <div class="card-header text-white bg-info">overlay css example</div>
    <div class="card-body">
        <div class="card-block overlay"  [ngStyle]="{'display': overlay ? 'flex' : 'none'}">
            <p>additional content.</p>
        </div>
    <button (click)="overlay = !overlay">Click</button>
    </div>
</div>

<div class="card">
        <div class="card-header text-white bg-info">
            Focus first invalid input on submit
        </div>
        <div class="card-body">

                <form focusInvalidFormInput [formGroup]="form" (ngSubmit)="submit()">
                  <label for="first">First Name</label>
                  <input formControlName="first" id="first" />
                
                  <label for="last">Last Name</label>
                  <input formControlName="last" id="last" />
                
                  <br />
                  <button>submit</button>
                </form>
        </div>
    </div>
    <div class="card">
        <div class="card-header text-white bg-info">
           Text Area Direactive
        </div>
        <div class="card-body">
            <textarea></textarea>
        </div>
    </div>
