<div class="card">
    <div class="card-body">
      <h6 class="card-title">Check Balance</h6>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'casual'" routerLinkActive="active">Casual</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'earned'" routerLinkActive="active">Earned</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'earnedxyz'" routerLinkActive="active">Bad Link</a>
        </li>
      </ul>
      <p class="card-text">
        <router-outlet></router-outlet>
      </p>
    </div>
  </div>
<!-- <h5>Check Balance</h5>
<ul>
    <li>
      <a [routerLink]="'casual'" routerLinkActive="active">Casual</a>
    </li>
    <li>
      <a [routerLink]="'earned'" routerLinkActive="active">Earned</a>
    </li>
    <li>
      <a [routerLink]="'earnedxyz'" routerLinkActive="active">Bad Link</a>
    </li>
  </ul>
  <router-outlet></router-outlet> -->