
<!-- <div class="overlay">
    <div class="dialog">
        <button class="btn btn-primary" (click)="onDialogClicked()">close</button>
        <ng-template dialog></ng-template>
    </div>
  </div> -->
              
  <section class="dailog-wrapper">
    <div class="overlay">
    </div>
    <div class="dailog-wrapper-body">
      <div class="dailog-wrapper-header">
        <h4 class="mb-1 font-weight-bold">
        title
        </h4>
                <button class="btn btn-primary" (click)="onDialogClicked()">close</button>
      </div>
      <hr>
      <div class="container">
        <ng-template dialog></ng-template>
      
      </div>
    </div>
  </section>
  