<div class="col-md-8 col-md-offset-2">
    <div class="list-group">
        <a class="list-group-item" *ngFor="let list of lists; let i = index; let e= odd" [ngClass]="{'disabled': e}">
            {{list}}
            <span class="pull-right">
                <i class="fa fa-chevron-right"></i>
                </span>
        </a>
    </div>
</div>
<div class="card mt-2">
    <div class="card-header">
        hover focus directive
    </div>
<div class="card-body">
    <input type="text" hoverfocus>

</div>
</div>
<div class="card mt-2">
    <div class="card-header">
        Http core api
    </div>
<div class="card-body">
    <app-core-http-api></app-core-http-api>
</div>
</div>
<div class="card mt-2">
    <div class="card-header">
        Http with promise
    </div>
<div class="card-body">
<app-http-with-promises></app-http-with-promises>
</div>
</div>
<div class="card mt-2">
    <div class="card-header">
        Http with Observable
    </div>
<div class="card-body">
    <app-http-with-observables></app-http-with-observables>
</div>
</div>
<div class="card mt-2">
    <div class="card-header">
        Http jsonp with Observable
    </div>
<div class="card-body">
        <app-jsonp-with-observables></app-jsonp-with-observables>
</div>
</div>
<div class="card mt-2">
    <div class="card-header">
       class interface examples
    </div>
<div class="card-body">
    <app-class-interface></app-class-interface>
</div>
</div>
<div class="card mt-2">
    <div class="card-header">
      es6 typescript types
    </div>
<div class="card-body">
    <app-types></app-types>
</div>
</div>