<div class="card">
  <div class="card-body">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a [routerLink]="'dashboard'" routerLinkActive="active" class="navbar-brand"> Dashboard </a>
        <a [routerLink]="'profile'" routerLinkActive="active" class="navbar-brand"> My Profile </a>
       <a [routerLink]="'attendance'" routerLinkActive="active" class="navbar-brand"> My Attendance </a>
       <a [routerLink]="'leaves'" routerLinkActive="active" class="navbar-brand"> My leaves </a>
    </nav>
    </div>
    </div>
<!-- <ul>
    <li>
      <a [routerLink]="'dashboard'" routerLinkActive="active"> Dashboard </a>
    </li>
    <li>
      <a [routerLink]="'profile'" routerLinkActive="active"> My Profile </a>
    </li>
    <li>
      <a [routerLink]="'attendance'" routerLinkActive="active"> My Attendance </a>
    </li>
    <li>
      <a [routerLink]="'leaves'" routerLinkActive="active"> My leaves </a>
    </li>
  </ul> -->
   
    <router-outlet></router-outlet>