<div class="card bg-white" style="font-size: 12px">
    <h5 class="card-title">Salary Approval(10)</h5>
    <div class="card-body">
        <div class="row border border-secondary rounded">
            <div class="col-md-3">
                <h6>Monthly Sheet</h6>
                <p>june , 2019</p>
            </div>
            <div class="col-md-3">Environment Name</div>
            <div class="col-md-3"></div>
            <div class="col-md-3">June 10, 2019</div>
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group col-md-2">
                        <p> ₹ 4000</p>
                        <label for="name" class="control-label">Total PF</label>
                    </div>
                    <div class="form-group col-md-2">
                        <p> ₹ 4000</p>
                        <label for="name" class="control-label">Total ESI</label>
                    </div>
                    <div class="form-group col-md-2">
                        <p> ₹ 4000</p>
                        <label for="name" class="control-label">Total TDS</label>
                    </div>
                    <div class="form-group col-md-2">
                        <p> ₹ 4000</p>
                        <label for="name" class="control-label">Total In-Hands</label>
                    </div>
                    <div class="form-group col-md-1">
                        <p> ₹ 4000</p>
                        <label for="name" class="control-label">Total Deductions</label>
                    </div>
                    <div class="form-group col-md-1">
                        <p> ₹ 4000</p>
                        <label for="name" class="control-label">Total Payable</label>
                    </div>
                    <div class="form-group col-md-2">
                        <p> ₹ 4000</p>
                        <label for="name" class="control-label">Total CTC</label>
                    </div>
                </div>
            </div>
            <div class="col-md-12 border-top border-secondary">
               <div class="card mt-2" *ngFor ="let department of [1,2,3];let i =index" (click)="opened[i]=!opened[i]" style="cursor: pointer">
                   <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">Department Name</div>
                        <div class="col-md-3">Employee 3</div>
                        <div class="col-md-3">₹ 20000</div>
                        <div class="col-md-3">₹ 40000</div>
                        <div class="col-md-12" [hidden]="!opened[i]">
                            <div class="card"  *ngFor ="let employee of [1,2,3]">
                                <div class="card-body">Employee Name | Employee Code | Employee Degignation</div>
                            </div>
                        </div>
                    </div>
                   </div>
               </div>
            </div>
            <div class="col-md-12 border-top mt-2">
                <div class="row">
                    <div class="col-md-12 font-weight-bold">Seen By</div>
                    <div class="col-md-3">Trilok</div>
                    <div class="col-md-3">June 11th, 2019 09:00 AM</div>
                </div>
                <div class="row">
                    <div class="col-md-12 font-weight-bold">Approved By</div>
                    <div class="col-md-3">Trilok</div>
                    <div class="col-md-3">June 11th, 2019 09:00 AM</div>
                </div>
                <div class="row">
                    <div class="col-md-12 font-weight-bold">Rejected By</div>
                    <div class="col-md-3">Trilok</div>
                    <div class="col-md-3">June 11th, 2019 09:00 AM</div>
                </div>
            </div>
        </div>
    </div>
</div>