<div class="card">
    <div class="card-body">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a [routerLink]="'example1'" routerLinkActive="active" class="navbar-brand"> Example1 </a>
          <a [routerLink]="'example2'" routerLinkActive="active" class="navbar-brand"> Example2 </a>
          <a [routerLink]="'showhide'" routerLinkActive="active" class="navbar-brand"> Show Hide </a>
      </nav>
      <router-outlet #outlet="outlet"></router-outlet>
      </div>
      </div>