<div class="card">
    <div class="card-body">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a [routerLink]="'example1'" routerLinkActive="active" class="navbar-brand"> Example1 </a>
          <a [routerLink]="'example2'" routerLinkActive="active" class="navbar-brand"> Example2 </a>
          <a [routerLink]="'showhide'" routerLinkActive="active" class="navbar-brand"> Show Hide </a>
          <a [routerLink]="'demo'" routerLinkActive="active" class="navbar-brand">Demo</a>
      </nav>
      <main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
        <router-outlet #o="outlet"></router-outlet>
      </main>
      </div>
      </div>