<div class="jumbotron">
    dynamic components
    <app-custom-dialog [newsfeeds]="newsfeeds"></app-custom-dialog>
</div>
<div class="jumbotron">
    dialog example 1
    <button class="btn btn-primary" (click)="openDialog()">open</button>
    <app-c-dialog [item]="item" *ngIf="item"></app-c-dialog>
</div>
<div class="jumbotron">
    dialog example 2
    <button class="btn btn-primary" (click)="openCustomDialog()">custom dialogopen</button>
    <custom-dialog [item]="customItem" *ngIf="customItem"></custom-dialog>
</div>
<div class="jumbotron">
        currency pipe
        {{number |  currency:"₹ ": 'symbol': '1.0'}}
</div>
<div class="jumbotron">
   custom currency pipe
   {{number |  indCurrency}}
</div>
<div class="jumbotron">
    sum pipe
    {{numbers1 | sum: 'amount'}}
    {{numbers | sum}}
    {{(numbers2 | search: 'credit') | sum: 'amount'}}
    {{(numbers2 | filterBykey: 'debit': 'type') | sum: 'amount'}}

    
 </div>
 <div class="jumbotron">
    sort pipe
    <ul class="list-group">
        <li class="list-group-item"  *ngFor="let movie of movies | sort: 'release' ">
          {{movie?.title}} | {{movie?.rating}} | {{movie?.release}}
        </li>
    </ul>   
 </div>
  <div class="jumbotron">
      Order By pipe
 <app-order-by-example></app-order-by-example>
</div>
<div class="jumbotron">
<app-dynamic-html-template></app-dynamic-html-template>
</div>
<hr>
<h3>Basic month picker</h3>
<app-custom-month-picker (change)="onChange($event)"></app-custom-month-picker>
<h3>Enabled months picker</h3>
<app-custom-month-picker (change)="onChange($event)" [enabledMonths]="[5,9,11]"></app-custom-month-picker>
<h3>Desabled months picker</h3>
<app-custom-month-picker (change)="onChange($event)" [disabledMonths]="[2,9,11]"></app-custom-month-picker>
<h3>Enabled years picker</h3>
<app-custom-month-picker (change)="onChange($event)" [enabledYears]="[2019,2021,2022]"></app-custom-month-picker>
<h3>Desabled years picker</h3>
<app-custom-month-picker (change)="onChange($event)" [disabledYears]="[2019,2020,2021]"></app-custom-month-picker>
<h3>preselected year picker</h3>
<app-custom-month-picker (change)="onChange($event)" [year]="2010"></app-custom-month-picker>
<h3>preselected month picker</h3>
<app-custom-month-picker (change)="onChange($event)" [month]="3"></app-custom-month-picker>
<h3>preselected month and year picker</h3>
<app-custom-month-picker (change)="onChange($event)" [year]="2010" [month]="4"></app-custom-month-picker>
<h3>Basic date picker </h3>
<app-custom-date-picker (change)="onChange($event)"></app-custom-date-picker>
<h3>chat message</h3>
<app-chat></app-chat>
<rxjs-operator></rxjs-operator>
<div class="jumbotron">
    <h3>title case directive</h3>
    <input type="text" appTitleCase [(ngModel)]="firstname" name="firstname"/>
</div>
<app-tree [items]="sampleData"></app-tree>
<div class="jumbotron">
<h3>recursive pipe</h3>
<input type="text" name="search" [(ngModel)]="filter">
<ul class="list-group">
    <li class="list-group-item" *ngFor="let item of items">{{item?.name}}</li>
</ul>
</div>