<div class="jumbotron">
    <h3> {{title}}</h3>
    <ul class="list-group">
      <li *ngFor="let l of list | slice: (curPage * pageSize) - pageSize :curPage * pageSize" class="list-group-item">
        <span>{{l.name}}</span><span class="ml-2">{{l.age}}</span>
      </li>
    </ul>
    <p class="pagination">
        <button [disabled] ="curPage == 1" (click)="curPage = curPage - 1">PREV</button>
          <span>Page {{curPage}} of {{ numberOfPages() }}</span>
        <button [disabled] = "curPage >= list.length/pageSize" 
                 (click) ="curPage = curPage + 1">NEXT</button>
    </p>
  </div>