<app-navbar *ngIf="navbarShow"></app-navbar>
<app-pop-up-dialog *ngIf="getMarkServiceReopenPopup"></app-pop-up-dialog>
<!-- <p>
{{time}}
</p> -->
<!-- <button type="button" class="btn btn-outline-danger m-0 border-0 p-0" (click)="callMarkServiceReopen()">
  Pop-Up Dialog
</button> -->
<app-topics *ngIf="false"></app-topics>
<div style="text-align:center">
  <h1 appEmoji="👌">Welcome to Angular </h1>
</div>
<div class="row">
      <app-sidebar *ngIf="sidebarShow"></app-sidebar>
    <!-- <div class="container mt-4">
      <router-outlet></router-outlet>
    </div> -->
    <div [@myAnimation]="o.isActivated ? o.activatedRoute : ''" class="container mt-4">
        <router-outlet #o="outlet"></router-outlet>
      </div>
</div>
<!-- <app-navbar-sidebar></app-navbar-sidebar> -->
