<app-navbar *ngIf="navbarShow && false"></app-navbar>
<app-pop-up-dialog *ngIf="getMarkServiceReopenPopup"></app-pop-up-dialog>
<!-- <p>
{{time}}
</p> -->
<!-- <button type="button" class="btn btn-outline-danger m-0 border-0 p-0" (click)="callMarkServiceReopen()">
  Pop-Up Dialog
</button> -->
<app-topics *ngIf="false"></app-topics>
<div style="text-align:center">
  <h1 appEmoji="👌">Welcome to Angular </h1>
</div>
<div class="row" *ngIf="false">
      <app-sidebar *ngIf="sidebarShow"></app-sidebar>
    <div [@myAnimation]="o.isActivated ? o.activatedRoute : ''" class="container mt-4">
        <router-outlet #o="outlet"></router-outlet>
      </div>
</div>
<!-- <app-navbar-sidebar></app-navbar-sidebar> -->
<!-- ......................................................................................... -->
<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/home">Home</a>
      <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>

  </div>
</nav>

<!-- main app container -->
<div class="container">
  <main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
    <router-outlet #o="outlet"></router-outlet>
  </main>
</div>

<!-- 
<main [@fadeAnimation]="getRouterOutletState(o)">
  <router-outlet #o="outlet"></router-outlet>
</main> -->