<input (keydown)="onKeydown($event)" placeholder="key down"> <br>
<input (keydown.enter)="onKeydown($event)" placeholder="enter key"> <br>
<input (keydown.arrowup)="onKeydown($event)" placeholder="arrow up">
<!-- <input (keydown.enter)="...">
<input (keydown.a)="...">
<input (keydown.esc)="...">
<input (keydown.shift.esc)="...">
<input (keydown.control)="...">
<input (keydown.alt)="...">
<input (keydown.meta)="...">
<input (keydown.9)="...">
<input (keydown.tab)="...">
<input (keydown.backspace)="...">
<input (keydown.arrowup)="...">
<input (keydown.shift.arrowdown)="...">
<input (keydown.shift.control.z)="...">
<input (keydown.f4)="..."> -->
