<div class="card">
    <div class="card-header">
        Subject Example
    </div>
    <div class="card-body">
    <div class="form-group">
      <label class="control-label">Name</label>
      <input class="form-control" [(ngModel)]="item">
    </div>
    <button type="button" class="btn btn-primary" (click)="onAddAsBehaviour()">Add</button>
    <ul class="list-group mt-2">
        <li class="list-group-item" *ngFor="let item of items">
           {{item}}
        </li>
    </ul>
    </div>
</div>
<div class="card mt-2">
    <div class="card-header">
        Behaviour Subject Example
    </div>
    <div class="card-body">
    <div class="form-group">
      <label class="control-label">Name</label>
      <input class="form-control" [(ngModel)]="item1">
    </div>
    <button type="button" class="btn btn-primary" (click)="onAddAsSubject()">Add</button>
    <ul class="list-group mt-2">
        <li class="list-group-item" *ngFor="let item of items1">
           {{item}}
        </li>
    </ul>
    </div>
</div>