<div class="card">
  <div class="card-header">
    Angular Async Pipe
  </div>
  <div class="card-body">
    <app-angular-async-pipe></app-angular-async-pipe>
  </div>
</div>
<div class="card">
  <div class="card-header">
   keys Events
  </div>
  <div class="card-body">
    <app-angular-keys-event></app-angular-keys-event>
  </div>
</div>
<div class="card">
  <div class="card-header">
  Location Service
  </div>
  <div class="card-body">
   <app-angular-location-service></app-angular-location-service>
  </div>
</div>
<div class="card">
  <div class="card-header">
  Using ViewChild  to Access a Child Component, Directive or DOM Element
  </div>
  <div class="card-body">
    <app-angular-viewchild></app-angular-viewchild>
  </div>
</div>
<div class="card">
  <div class="card-header">
  Using Hostlistener and Hostbindinding
  </div>
  <div class="card-body">
    <app-angular-host-binding-host-listener></app-angular-host-binding-host-listener>
  </div>
</div>