<section class="popup-wrapper">
    <div class="overlay">
    </div>
    <div class="popup-body-wrapper">
      <div class="popup-header">
        <h4 class="mb-1 font-weight-bold" style="margin-left: 13px;">
            <ng-content select=".header"></ng-content>
        </h4>
  
      </div>
      <div class="popup-body mt-2">
      <ng-content select=".body"></ng-content>
      <div class="mt-4">
        <button class="btn btn-outline-primary m-0 ">Submit</button>
        <button (click)="onClose()" class="btn btn-outline-danger m-0 ">Cancel</button>
      </div>
      </div>
    </div>
  
  </section>
  