<input type="text" class="form-control" placeholder="Search" [(ngModel)]="query" id="listSearch">
  <div class="card" *ngFor="let lock of locked | search: query">
    <div class="card-body col-xs-12 col-sm-11" >
        <input type="checkbox" (change)="openModal($event, lock)" class="check" id="{{lock.ID}}">
        <label [for]="lock.ID" class="check-label"></label>
        <h3 class="card-text name">{{lock.User}}</h3>
        <h3 class="card-text auth">{{lock.AuthID}}</h3>
        <h3 class="card-text form">{{lock.FormName}}</h3>
        <h3 class="card-text win">{{lock.WinHandle}}</h3>
    </div>
  </div>