<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container-fluid px-0">
          <div class="row w-100">
            <div class="col-2">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation" (click)="isShown = !isShown" >
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
      
            <div class="col-10">
              <div class="collapse justify-content-end navbar-collapse" [ngClass]="{ 'show': isShown }" id="navbarTogglerDemo03">
                <ul class="navbar-nav mt-2 mt-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="group" routerLinkActive="active">Group Data</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="dynamic_form" routerLinkActive="active">Dynamic Form</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="group_by_pipe" routerLinkActive="active">Group By Pipe</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="behaviour" routerLinkActive="active">Behaviour</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="custom" routerLinkActive="active">Custom</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="search" routerLinkActive="active">Search</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="todo" routerLinkActive="active">Todo</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="test" routerLinkActive="active">Test</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="operators" routerLinkActive="active">Rxjs</a>
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>