.green_btn {
    background: #4caf50;
    color: white;
    width: 38px;
    border-radius: 18px;
    display: inline-block;

}
._btn_red {
    background: #f44336;
    color: white;
    width: 38px;
    border-radius: 18px;
    display: inline-block;

}
._btn_sky {
    background: #1E9FF2;
    color: white;
    width: 38px;
    border-radius: 18px;
        display: inline-block;

}
.green_orange {
    background: #ff9149;
    color: white;
    width: 38px;
    border-radius: 18px;
    display: inline-block;

}
