<div class="jumbotron">
    Validating Reactive Forms in Angular
    <app-angular-reactive-form-validation></app-angular-reactive-form-validation>
     

 </div>
 <div class="jumbotron">
 
<button class="btn btn-primary" (click)="openDialog()">open dialog</button>
     

 </div>
 <!-- <div class="jumbotron">
     load dynamic component
    <app-dynamic-load></app-dynamic-load>

     </div> -->
     <button type="button" 
     class="btn btn-success  btn-block"
     modal-box 
     [title]='"Demo Modal 1"'
     [componentData]="data1"
     [componentName]="'DynamicLoadMessageComponent'">
     Demo Modal 1
   </button>